<h1>Your Cart</h1>
<% if @cart.empty? %>
 <p>Your Cart is empty.</p>
<% end %>
<% total = 0 %>
<table class="cart">
 <tr>
 <td class="legend"></td>
 <td class="legend">Item</td>
 <td class="legend">Price</td>
 <td class="legend">Qty</td>
 <td class="legend">Total</td>
 </tr>
<% @cart.each do | id, quantity | %>
 <% item = Item.find_by_id(id) %>
 <tr>
 <td>
 <div class="image">
 <%= link_to (image_tag item.image_url, :style => "height:40px"), item %>
 </div>
 </td>
 <td class="title"><%= link_to item.title, item %></td>
 <td class="price"><%= number_to_currency(item.price) %></td>
 <td class="quantity"><%= quantity %><br /></td>
 <td class="price">
 <%= number_to_currency(quantity * item.price, :unit => "£") %>
 </td>
 <td><a href="/cart/remove/<%= item.id %>">Remove from Cart</a></td>
 </tr>
 <% total += quantity * item.price %>
<% end %>
 <tr>
 <td colspan="4">
 <div class="total">Total:</div>
 </td>
 <td>
 <div class="price"><%= number_to_currency(total, :unit => "€") %></div>
 </td>
 </tr>
 </table>
<p>
 <%= link_to 'Continue Shopping', :controller => :items %>
</p>
<%= link_to 'Clear Cart', :controller => "cart", :action => "clearCart" %>
<%= link_to 'Check Out', :controller => "cart", :action => "createOrder" %>