<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BAM Photographers</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Ubuntu:400,400italic,700|Titillium+Web:400,400italic,700|Open+Sans:400,400italic,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <a href="index.html" id="logo">
        <img src="assets/BAM_logogrey.png" alt="mainpicture">
      </a>
    </header>
    
      <nav class="center">
        <ul>
          <li><a href="home.html" class="selected">Home</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
		      <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>


<h1>Editing Item</h1>

<%= render 'form' %>

<%= link_to 'Show', @item %> |
<%= link_to 'Back', items_path %>



<div id="wrapper">
     
       <div class="footerinfo">
          <li><p id="tooltip1"><a href="/site/about.html">About Us<span>We specialize in newborn & children photography, maternity and family photo sesion is also within our area of expertise.</span></a></p></li>
          <li><p id="tooltip1"><a href="https://www.google.com/maps/place/National+College+of+Ireland,+Mayor+Street+Lower,+International+Financial+Services+Centre,+Dublin+1,+Ireland/@53.348729,-6.243568,15z/data=!4m2!3m1!1s0x48670e8d1bdaf2ed:0x20fe35903d91c026?hl=en">Location<span>We are located at the National College of Ireland in Dublin.</span></a></p></li>
          <li><p id="tooltip1"><a href="/site/about.html">Contact Us<span>Send us an email</span></a></p></li>
       </div>
    	<br><br>
    	
      <footer>
        <a href="https://www.twitter.com/mmbcc"><img src="/assets/bampict/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
        <a href="https://www.facebook.com/maria.kohlmann2"><img src="/assets/bampict/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
        <div class="copyrights">&copy; 2016 BAM Photographers</div>
      </footer>
    </div>
    
</body>
</html>