<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BAM Photographers</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Ubuntu:400,400italic,700|Titillium+Web:400,400italic,700|Open+Sans:400,400italic,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  
<h1>Catalog</h1>
<table class="catalog">
<% @items.each do |item| %>
 <tr>
 <td>
 <div class="image">
 <%= link_to (image_tag item.image_url, :style => "height:100px"), item %>
 </div>
 </td>
 <td>
 <div class="title">
 <%= link_to item.title, item %>
 </div>
 <div class="description">
 <%=h item.description %>
 </div>
 <div class="price">
 <%= number_to_currency(item.price, :unit => "&pound;") %>
 </div>
 <div class="links">
 <%= link_to 'Edit', edit_item_path(item) %> |
 <%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %>
 <a href="/cart/<%= item.id %>">Add to Cart</a><br><br>
 </div>

 </td>
 </tr>
<% end %>
</table>
<p><%= link_to 'New item', new_item_path %></p>


</body>
</html>