<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BAM Photographers</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Ubuntu:400,400italic,700|Titillium+Web:400,400italic,700|Open+Sans:400,400italic,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

      <div class="about">
         <img src="/assets/newborn/DSC_2901.jpg" alt="Photo of us" class="profile-photo">
        
          <p2>Hi, we are the BAM Photographers specialising in the Newborn & Children Photography and for real this is our Web Design project and this text is here to fill up the About Us page only. Hi, we are the BAM Photographers specialising in the Newborn & Children Photography and for real this is our Web Design project and this text is here to fill up the About Us page only.<br>
          <br>Our aim for you is to capture the love and the bond that you have for your little (and not so little) ones. We want to help tell your story of love. We’re all in so much of a rush these days that we rarely get time to just be with the ones we love. There’s always some distraction, some worry, the feeling that there’s something else we should be doing. For a couple of hours we want you to relax, have fun and spend time with the ones you love. We’ll be there to document this very special time and to create art that will remind you forever of how much you love one another.</p2> 
          <br><br>
          <p2>If you'd like to follow us on Flickr, click here <a href="https://www.flickr.com/photos/87122581@N06/"><p1>Flickr Gallery</p1></a></p2>
          <br><br>
          <p3>`Enjoy the little things, for one day you may look back and realise they were the big things` -Robert Brault</p3>
      
       </div>

  </body>
</html>
