<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BAM Photography</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Ubuntu:400,400italic,700|Titillium+Web:400,400italic,700|Open+Sans:400,400italic,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/lightbox.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    
 
 <div id="wrapper_gallery">
 
  <div class="gal">
		<a href="/assets/children/2.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/children/2.jpg" alt="Children Pictures" width="250" height="auto">
		</a>
	</div>

<div class="gal">
		<a href="/assets/children/3.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/children/3.jpg" alt="Children Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/children/5.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/children/5.jpg" alt="Children Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/children/6.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/children/6.jpg" alt="Children Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/children/7.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/children/7.jpg" alt="Children Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/children/8.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/children/8.jpg" alt="Children Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/children/10.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/children/10.jpg" alt="Children Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/children/DSC1126.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/children/DSC1126.jpg" alt="Children Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/children/DSC5162.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/children/DSC5162.jpg" alt="Children Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/children/DSC6672.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/children/DSC6672.jpg" alt="Children Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/children/DSC_0017.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/children/DSC_0017.jpg" alt="Children Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/children/DSC_0107.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/children/DSC_0107.jpg" alt="Children Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/children/DSC_0157.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/children/DSC_0157.jpg" alt="Children Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/children/DSC_0308.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/children/DSC_0308.jpg" alt="Children Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/children/DSC_0325.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/children/DSC_0325.jpg" alt="Children Pictures" width="250" height="auto">
		</a>
	</div>
	
	
	<div class="gal">
		<a href="/assets/children/DSC_0615.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/children/DSC_0615.jpg" alt="Children Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/children/DSC_5245.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/children/DSC_5245.jpg" alt="Children Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/children/DSC_8413.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/children/DSC_8413.jpg" alt="Children Pictures" width="250" height="auto">
		</a>
	</div>
	
	</div>
  
    <script src="/assets/lightbox_gallery.js"></script> 

  </body>
</html>
