<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BAM Photographers</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Ubuntu:400,400italic,700|Titillium+Web:400,400italic,700|Open+Sans:400,400italic,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
   
    
    <div id="wrapper">
     <section>
	  
		<div class="mainimage">
			<a href="/assets/newborn/DSC_1071.jpg">
			<img src="/assets/newborn/DSC_1071.jpg" alt="mainpicture">
			</a>
		</div>
	          
      </section>
      
      
       <div class="footerinfo">
          <li><p id="tooltip1"><a href="about.html">About Us<span>We specialize in newborn & children photography, maternity and family photo sesion is also within our area of expertise.</span></a></p></li>
          <li><p id="tooltip1"><a href="https://www.google.com/maps/place/National+College+of+Ireland,+Mayor+Street+Lower,+International+Financial+Services+Centre,+Dublin+1,+Ireland/@53.348729,-6.243568,15z/data=!4m2!3m1!1s0x48670e8d1bdaf2ed:0x20fe35903d91c026?hl=en">Location<span>We are located at the National College of Ireland in Dublin.</span></a></p></li>
          <li><p id="tooltip1"><a href="contact.html">Contact Us<span>Send us an email</span></a></p></li>
       </div>
    	<br>
    	
     </div>
  </body>
</html>