<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BAM Photography</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Ubuntu:400,400italic,700|Titillium+Web:400,400italic,700|Open+Sans:400,400italic,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/lightbox.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    
 
 <div id="wrapper_gallery">
 
  	<div class="gal">
		<a href="/assets/maternity/24.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/maternity/24.jpg" alt="Maternity Pictures" width="250" height="auto">
		</a>
	</div>

	<div class="gal">
		<a href="/assets/maternity/31.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/maternity/31.jpg" alt="Maternity Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/maternity/34.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/maternity/34.jpg" alt="Maternity Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/maternity/53.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/maternity/53.jpg" alt="Maternity Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/maternity/797.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/maternity/797.jpg" alt="Maternity Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/maternity/0818.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/maternity/0818.jpg" alt="Maternity Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/maternity/0902.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/maternity/0902.jpg" alt="Maternity Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/maternity/3929.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/maternity/3929.jpg" alt="Maternity Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/maternity/6393.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/maternity/6393.jpg" alt="Maternity Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/maternity/6454.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/maternity/6454.jpg" alt="Maternity Pictures" width="250" height="auto">
		</a>
	</div>

	<div class="gal">
		<a href="/assets/maternity/8031.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/maternity/8031.jpg" alt="Maternity Pictures" width="250" height="auto">
		</a>
	</div>

	
	</div>
  
    <script src="/assets/lightbox_gallery.js"></script> 

  </body>
</html>
