<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BAM Photography</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Ubuntu:400,400italic,700|Titillium+Web:400,400italic,700|Open+Sans:400,400italic,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/lightbox.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    
 
 <div id="wrapper_gallery">
 
    <div class="gal">
		<a href="/assets/newborn/DSC_1071.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/newborn/DSC_1071.jpg" alt="Newborn Pictures" width="250" height="auto">
		</a>
	</div>

	<div class="gal">
		<a href="/assets/newborn/DSC_1144.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/newborn/DSC_1144.jpg" alt="Newborn Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/newborn/DSC_2299.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/newborn/DSC_2299.jpg" alt="Newborn Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/newborn/DSC_2347.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/newborn/DSC_2347.jpg" alt="Newborn Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/newborn/DSC_5447.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/newborn/DSC_5447.jpg" alt="Newborn Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/newborn/DSC_6635.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/newborn/DSC_6635.jpg" alt="Newborn Pictures" width="250" height="auto">
		</a>
	</div>
	
	<div class="gal">
		<a href="/assets/newborn/DSC_7232.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/newborn/DSC_7232.jpg" alt="Newborn Pictures" width="250" height="auto">
		</a>
	</div>
		
	<div class="gal">
		<a href="/assets/newborn/DSC_8781.jpg"  data-lightbox="image-1" data-title="Image 1">
		<img src="/assets/newborn/DSC_8781.jpg" alt="Newborn Pictures" width="250" height="auto">
		</a>
	</div>
	
	
	</div>
  
    <script src="/assets/lightbox_gallery.js"></script> 

  </body>
</html>
