<<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BAM Photographers</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Ubuntu:400,400italic,700|Titillium+Web:400,400italic,700|Open+Sans:400,400italic,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
 
 <body>
    
		<div id="wrapper">
		      
			<section>
			  
				<div class="img">
					<a href="/newborn_gallery.html">
		     		<img alt="Newborns Pictures" src="/assets/newborn/DSC_1071.jpg" width="300" height="200">
		     	</a>
			   		<div class="desc">Newborns Gallery</div>
				</div>
		
				<div class="img">
					<a href="/children_gallery.html">
						<img src="/assets/children/2.jpg" alt="Children Pictures" width="300" height="200">
				 	</a>
				  	<div class="desc">Children Gallery</div>
				</div>
			  
			 	<div class="img">
					<a href="/maternity_gallery.html">
						<img src="/assets/maternity/0902.jpg" alt="Maternity Pictures" width="300" height="200">
					</a>
				 	 <div class="desc">Maternity Gallery</div>
				</div>
			  	  
		  </section>
		     
		</div>
  
  </body>
</html>