/**********************
GENERAL
**********************/

body {
  font-family: 'Open Sans', sans-serif;

}

#wrapper {
  max-width: 55%; 
  margin: 0 auto;
  padding: 0 1%;

}

a {
  text-decoration: none; 
              }

img {
  max-width: 100%;
}

/**********************
HEADING
**********************/

header {
  float: left;
  margin: 40px 0 5px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  max-width: 15%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}




/**********************
NAVIGATION
**********************/

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
}

nav {
    margin: auto;
    width: 10%;
    padding: 8px;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  margin: auto;
  display: inline-block;
}

nav a {
  font-weight: 600;
  padding: 1px 10px;
}



/**********************
FOOTER
**********************/

footer {
  font-size: 0.75em;
  text-align: right;
  clear: both;
  padding-top: 0px;
  padding-bottom: 10px;
  color:#696969;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.footerinfo {
  display: inline-block;
  margin: auto;
  width: 100%;
  padding: 1px;
  font-size: 0.8em;
  text-align: left;
  clear: both;
  padding-top: 0px;
  color: #696969;
}

.footerinfo li {
  margin: auto;
  width: 33%;
  text-align: left;
  display: inline-block;
}

.footerinfo1 li {
  float: left;
  display: block;
  margin: auto;
  width: 26%;
  padding: 1px;
  font-size: 0.8em;
  color:#696969;
}

#contact_footer {
  float: right;
  margin-right: 50px;
}

#tooltip1 { position: relative; }

#tooltip1 a span { display: none;}

#tooltip1 a:hover span { display: block; 
  position: absolute; 
  width: 200px; 
  background-color: #FFE4E1; 
  height: auto; 
  left: 50px; 
  top: -10px; 
  color: #696969; 
  padding: 0 5px;
  
}



/**********************
PAGE: PORTFOLILO
**********************/

div.img {
    margin: 2px;
    float: left;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 30px;
    margin-bottom: 260px;
    width: 32%;
}	

div.img:hover {
	background-color: #FFE4E1;
	width: 31%;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 20px;
    text-align: center;
}

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #FFE4E1;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
}


/**********************
PAGE: PORTFOLIO GALLERIES
**********************/

#wrapper_gallery {
  width: 80%;
  padding-top: 320px;
  margin-left: auto;
  margin-right: auto;
}


div.gal {
    margin: 2px;
    /*display: inline-block;*/
    float: left;
    width: 14%;
    height: auto;
}	

div.gal:hover {
    background-color: #FFE4E1;
}

div.gal img {
    width: 100%;
    height: auto;
}


/**********************
PAGE: ABOUT
**********************/
.profile-photo {
  display: block;
  max-width: 360px;
  margin: 0 auto 30px;
}


/**********************
PAGE: CONTACT
**********************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
    background-image: url('../img/phone.png');
}

.contact-info li.mail a {
    background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
    background-image: url('../img/twitter.png');
}



/**********************
COLORS
**********************/

/* site body */

body {
  background-color: #ccc;
  color: #999;
}

/* light pink header */

header {
  background: #FFE4E1;
}

/* nav background on mobile */

nav {
  background: #FFE4E1;
}


/* links */

a {
  color: #696969;
}

p1 {
  text-decoration: underline;
}



/* nav link */

nav a, nav a:visited {
  color: #FFE4E1;
}

/* selected nav link */

nav a.selected, nav a:hover {
  color: #696969;
}



