@media screen and (min-width: 480px) {
  

 /***********************
  TWO COLUMN LAYOUT
 *************************/
  
  #primary {
    width: 50%;
    float: left;
  }
  
  #secondary {
    width: 40%;
    float: right;
  }

   /***********************
  ALL PAGES: Signed In As... position
 *************************/

   div.signin {
	  margin: -60px;
    padding: 15px;
    text-align: right;
    font-size: 0.6em;
    width: 100%;
}

   /***********************
  PAGE: HOME
 *************************/

  div.mainimage {
	  margin: 2px;
    float: left;
    width: 100%;
}	
  
  div.mainimage:hover {
	background-color: #FFE4E1;
	width: 100%;
}

  div.mainimage img {
    width: 100%;
    height: auto;
}

  div.desc {
    padding: 15px;
    text-align: center;
}  
  
    
  #gallery li:nth-child(4n) {
    clear: left;
  }
  
    /***********************
  PAGE: ABOUT
 *************************/

 
 .about {
    position: static;
    width: 1000px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 260px;
}

 .profile-photo {
    float: left;
    margin: 20px 40px 10px 10px;
}

  p {
    margin: 2px;
    float: right;
    width: 55%;
    color:#696969;
  }
  
  p2 {
    float: left;
    width: 45%;
    padding: 16px 0 0 0;
    color:#696969;
    text-align: justify;
    text-justify: inter-word;
  }
  
  p3 {
    float: left;
    width: 45%;
    color: #F08080;
    text-align: justify;
    text-justify: inter-word;
    font-style: italic;
    font-size: large;
    padding-top: 40px;
  }
  
   .copyrights {
    margin: 2px;
    float: right;
    width: 20%;
  }
  


}

@media screen and (min-width: 660px) {
  
    /***********************
  HEADER
 *************************/
  
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: center;
    width: 45%;
  }
  
  
  #logo {
    margin: auto;
    padding: 10px;
    float: left;
    margin-left: 42%;
    text-align: left;
    width: 10%;
  }
  
  h2 {
    font-size: 0.825em;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 2.5em
  }
  
  header {
    border-bottom: 5px soild #599a68;
    margin-bottom: 30px;
  }
  

}