<!DOCTYPE html>
<html>
<head>
  <title>BAM Photographers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Ubuntu:400,400italic,700|Titillium+Web:400,400italic,700|Open+Sans:400,400italic,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>
      <a href="index.html" id="logo">
        <img src="/assets/BAM_logogrey.png" alt="mainpicture">
      </a>
    </header>
    
      <nav class="center">
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
		      <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
         
<% if user_signed_in? %>
<div class="signin">Signed in as... <%= current_user.email %> (<%= link_to 'Sign out', destroy_user_session_path, :method => :delete%>)</div>
<% else %>
<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %> or <%= link_to 'Sign in', new_user_session_path %>
<% end %>
        </ul>
      </nav>
      
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


   <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
   <% end %>

<%= yield %>

<br><br>

     <footer>

      <%= debug(params) if Rails.env.development? %>

        <a  target="_blank" href="https://www.twitter.com/corroonb"><img src="/assets/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
        <a  target="_blank" href="https://www.facebook.com/MonikaZborowskaPhotography"><img src="/assets/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
        <div class="copyrights">&copy; 2016 BAM Photographers</div>
      </footer>

</body>
</html>